.App {
  border: 1px solid black;
  text-align: center;
  height: fit-content;
  width: fit-content;
  position: relative;
  left: calc(50vw);
  transform: translateX(-50%);
  top: 50px;
  background-color: white;
}
